/* handles the styling of the 'benefits' sidebar section */

/* general styling of the section including dimensions, positioning, font, and colors */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* modifies text color and margin between sections of sidebar */
aside > article {
    margin-bottom: 32px;
    color: #ffffff;
}

/* modifies positioning and dimensions of sidebar images */
article > img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}