/* handles the styling of the header navigation bar and the integration of the mouse-over buttons */

/* handles general styling of the 'nav' element of the header */
nav {
    display: inline-block;
    float: right;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* handles the styling and positioning of the navigation bar text */
a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    float: right;
}

/* modifies the styling of the nav buttons */
/* color = text color
   background-color = color of button
   border = thickness, style, and color of border 
   border-radius = rounds border corners 
   padding = dimensions of border (h,w) 
   margin = (reposition buttons vertically, modify spacing between buttons) 
   transition-duration = time to transition to 'button:hover' values 
   cursor: pointer = cursor changes to 'pointer' style when placed on button signaling it is interactable */
.button {
    color: white;
    background-color: #2a607c;
    border: 2px solid white;
    border-radius: 1cm;
    padding: 12px 14px;
    margin: -9px 9px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* modifies the styling of the buttons when the mouse cursor is touching a them */
.button:hover {
    color: #2589bd;
    background-color: white;
    border: 2px solid #2589bd;
}