/* handles the styling of the page's main content articles */

/* relative path to background image element below header as well as handling the element's dimensions and positioning */
figure {
    background-image: url("../images/digital-marketing-meeting.jpg");
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* general styling of page's 'content' section */
content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* handles the formatting and styling of each content article in the 'content' section of the page */
/* NOTE these must be seperated into uniquely identifiable classes in order to maintain the functionality of the navigation bar */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* float values to position content articles' accompanying images to either the left or right of the text block */
.float-left {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}
.float-right {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}