/* handles the styling of the page's main content articles */

/* relative path to background image element below header as well as handling
   the element's dimensions and positioning */
.bg-image {
    background-image: url("../images/digital-marketing-meeting.jpg");
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* float values to position content articles' accompanying images to 
   either the left or right of the text block */
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}

/* general styling of page's 'content' section */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* automatically modifies any 'h2' elements in page's 'content' section */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* automatically modifies all 'img' elements in page's 'content' section */
.content img {
    max-height: 200px;
}

/* handles the formatting and styling of each content article in the 'content' section of the page */
/* NOTE these must be seperated into uniquely identifiable classes per section in order to
   maintain the functionality of the navigation bar */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}